@import "tailwindcss";

:root {
  --bg-white: #f0f0f5;
  --bg-dark: #0a0a1c;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-white);
}
